<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Choice</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <div id="app">
        <h2>Add Choice(s) for {{question}}</h2>
        <h3 v-if="success">Create Successfully !</h3>
        <table>
            <tr>
                <th>Choice Text</th>
                <th>Choice Value</th>
                <th>Delete</th>
            </tr>
            <tr v-for="choice in choices">
                <td>
                    <input type="text" v-model="choice.text">
                </td>
                <td>
                    <input type="number" v-model="choice.value">
                </td>
                <td>
                    <input type="button" @click="deleteChoice(choice)" value="DELETE">
                </td>
            </tr>
        </table>
        <p>
            <input type="button" @click="addChoice" value="ADD NEW CHOICE">
            <input type="submit" @click="submit" value="SAVE DATA">
        </p>
        <p v-for="error in errorMSG">
            [[error]]
        </p>
    </div>
    <script src="{% static 'js/vue.js' %}"></script>
    <script src="{#% static 'js/bootstrap.min.js' %#}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>

    <script>
        var csrftoken = Cookies.get('csrftoken');
        var app = new Vue({
            el: '#app',
            delimiters: ["[[","]]"],
            data:  {
                success: false,
                errorMSG: '',
                choices: []
            },
            methods: {
                addChoice(){
                    this.choices.push(
                        {
                            text: '',
                            value: 0
                        }
                    )
                },
                deleteChoice(choice){
                    let index = this.choices.indexOf(choice)
                    this.choices.splice(index, 1)
                },
                submit(){
                    console.log(this.choices)
                    axios
                        .post('http://localhost:8000/polls/api/' + {{ question.id }} + '/add-choice/',
                        this.choices,
                        {headers: {'X-CSRFTOKEN' : csrftoken}}
                        )
                        .then(response => {
                            console.log(response)
                            this.success = true
                            this.errorMSG = response.data.no_choice
                        })
                        .catch(error => {
                            console.log(error.response)
                            this.errorMSG = ''
                        })
                }
            },
        })
    </script>
</body>
</html>