<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Poll</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        .errorlist{
            color: red;
        }
    </style>
</head>
<body>
    <form method="POST" action="{% url 'update_poll' poll.id %}">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <p>
                {{form.non_field_errors}}
            </p>
        {% endif %}
        <table border="1">
            <tr>
                <td><label id="{{form.title.id_for_label}}">{{form.title.label}}</label></td>
                <td>{{form.title.errors}} {{form.title}}</td>
                <td><label id="{{form.no_questions.id_for_label}}">{{form.no_questions.label}}</label></td>
                <td>{{form.no_questions.errors}} {{form.no_questions}}</td>
            </tr>
            <tr>
                    <td><label id="{{form.email.id_for_label}}">{{form.email.label}}</label></td>
                    <td colspan="3">{{form.email.errors}} {{form.email}}</td>
                </tr>
            <tr>
                <td><label id="{{form.start_date.id_for_label}}">{{form.start_date.label}}</label></td>
                <td>{{form.start_date.errors}} {{form.start_date}}</td>
                <td><label id="{{form.end_date.id_for_label}}">{{form.end_date.label}}</label></td>
                <td>{{form.end_date.errors}} {{form.end_date}}</td>
            </tr>

        </table>
        <hr/>
        <h2>Question(s)</h2>
        {{formset.management_form}}
        <table>
            {% for form in formset %}
            <tr>
                <td style="width: 80px;">{{form.text.label_tag}}</td>
                <td>{{form.text.error}}  {{form.text}}  {{form.question_id}}</td>
            </tr>
            <tr>
                <td>{{form.type.label_tag}}</td>
                <td>{{form.type.error}} {{form.type}}</td>
            </tr>
            {% if form.question_id.value > 0 %}
                <tr>
                    <td>
                        <a href="{% url 'delete_question' form.question_id.value %}">Delete</a>
                    </td>
                    <td>
                        <a href="{% url 'add_choice' form.question_id.value %}">Add choice(s)</a>
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
        </table>
        <br>
        <p><input type="submit" value="UPDATE"></p>

    </form>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>